
/*General styling*/
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    
}

/*Styling for the header*/
.header {
    overflow: hidden;
    background-color: #1A2D40;
    padding: 10px 10px;
    left: 0;      
    top: 0;       
    width: 100%;
}

/*Styling for the body*/
body {
    background: url("../images/rock-paper-scissors.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-family:'Michroma', sans-serif;
    color: white;
    text-align: center;
    
}

/*Styling for the three column sectionS*/
.column {
    grid-template-columns: auto auto; 
    display:flex;
    flex-direction: column;
    align-items: center; 
    float: left;
    width: 60%;
    padding: 1rem;       
}

/*Specific styling for the column section which contains the players score*/
#game-left {
    font-size: 1.5rem;
    padding:1.0em;
    background: rgb(26, 45, 64,.6);
    border-radius: 100px;
    color:#fFD200;
    font-weight: 900;
    width:20%
}

/*Specific styling for the column section which contains the computers score*/
#game-right {
   font-size: 1.5rem;
   padding:1.0em;
   background: rgb(26, 45, 64,.6);
   border-radius: 100px;
   color:#fFD200;
   font-weight: 900;
   width:20%
 }

/*Styling for the prompt section at the top of the page*/
#prompt {
    font-size: 1.5em;
    padding: 1em;
    color:#fFD200;
    font-weight: 900;
    background: rgb(26, 45, 64,.6);
    border-radius: 100px;
    text-align: center;
}

/*Specific styling for the paper button*/
#paper {
    background-color: #f2f2f2;
    color: #605e5e
    }

/*Styling for all three of the buttons*/  
button {
    font-size:2.0em;
    padding:0.5em;
    margin: 2em;
    border-radius: 2em;
    border: none;
    cursor: pointer;
}

/*Styling for when the buttons are pressed*/
button:active {
  transform: translateY(4px);
}

/*Specific styling for the rock button*/
#rock {
    background-color: #605e5e;
    color: #fff;
}

/*Specific styling for the scissors button*/
#scissors {
background-color: #c9c9c9;
color:#686A6C;
}

/*Styling for the footer*/
footer {
	background-color:#1A2D40;
	text-align: center;
    width: 100%;
    bottom: 0;
    right: 0;	
    box-sizing: border-box;
    height: 60px;
    overflow: hidden;
    clear: both;
    position: fixed;
    
}

/*Styling for the text in the footer*/
.rules {
    text-align:center;
    padding: 1rem;
}

/*Styling for the list in the footer*/
.rules > li {
   display: inline;
}

/*Styling to make the site responsive for mobile devices bringing everthing into one column*/ 
@media(max-width:800px){
    .column{
    flex-direction: column;
}
    #game-left, #game-right, .column{
    width:100%;
    }
}



