* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

#paper{
    background-color: #f2f2f2;
    color: #605e5e
    }


.header {
    overflow: hidden;
    background-color: #1A2D40;
    padding: 10px 10px;
    left: 0;      
    top: 0;       
    width: 100%;
}

body {
    background: url("../images/rock-paper-scissors.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-family:'Michroma', sans-serif;
    color: white;
    text-align: center;
}

.column {
    grid-template-columns: auto auto; 
    display:flex;
    flex-direction: column;
    align-items: center; 
    float: left;
    width: 60%;
    padding: 1rem;
          
}

  #game-left {
    font-size: 1.5rem;
    padding:1.0em;
    background: rgb(26, 45, 64,.6);
    border-radius: 100px;
    color:#fFD200;
    font-weight: 900;
    width:20%
  }
  
  
  
  
  
  #game-right {
   font-size: 1.5rem;
   padding:1.0em;
   background: rgb(26, 45, 64,.6);
   border-radius: 100px;
   color:#fFD200;
   font-weight: 900;
   width:20%
 }
 
#prompt{
    font-size: 1.5em;
    padding: 1em;
    color:#fFD200;
    font-weight: 900;
    background: rgb(26, 45, 64,.6);
    border-radius: 100px;
    text-align: center;
}

button{
    font-size:2.0em;
    padding:0.5em;
    margin: 2em;
    border-radius: 2em;
    border: none;
    cursor: pointer;
}

button:active {
  transform: translateY(4px);
}

#rock{
    background-color: #605e5e;
    color: #fff;
}



#scissors{
background-color: #c9c9c9;
color: #fff;
}

footer {
	background-color:#1A2D40;
	text-align: center;
    width: 100%;
    bottom: 0;
    right: 0;	
    box-sizing: border-box;
    height: 60px;
    overflow: hidden;
}

.rules {
    text-align:center;
    padding: 1rem;
}

.rules > li{
   display: inline;
}


@media(max-width:600px){
    .column{

flex-direction: column;

    }

    #game-left, #game-right, .column{
        width:100%;
    }
}



